{{ ansible_managed | comment }}

deb http://mirror.unix-solutions.be/raspbian/raspbian/ {{ ansible_distribution_release }} main
deb http://mirror.nl.leaseweb.net/raspbian/raspbian/ {{ ansible_distribution_release }} main
