{{ ansible_managed | comment }}

Director {
  Name = {{ bacula_director_name }}
  Password = "{{ bacula_storage_password }}"
}

Storage {
  Name = {{ bacula_storage_name }}
  SDPort = 9103
  WorkingDirectory = "/var/lib/bacula"
  Pid Directory = "/var/run/bacula"
  Maximum Concurrent Jobs = 20
  SDAddress = {{ bacula_storage_address | default('127.0.0.1') }}
}

Device {
  Name           = {{ bacula_device_name }}
  Media Type     = File
  Archive Device = {{ bacula_device_archive_device }}
  LabelMedia     = yes
  Random Access  = yes
  AutomaticMount = yes
  RemovableMedia = no
  AlwaysOpen     = no
}

Messages {
  Name = Standard
  director = {{ bacula_director_name }} = all
}
